@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #383737;
  font-family: "Pretendard", sans-serif;
}

pre {
  font: 14px/1.3em "Pretendard", 맑은고딕, sans-serif;
  color: #383737;
  letter-spacing: -0.02em;
}

a {
  text-decoration: none;
  color: #171717;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  vertical-align: top;
}

img {
  border: 0;
}

input, select, button, textarea {
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
}

button {
  cursor: pointer;
}

table {
  position: relative;
}

table caption {
  position: absolute;
  height: 1px;
  overflow: hidden;
  left: 0;
  top: 0;
}

@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-Light.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-Black.woff") format("woff");
  font-weight: 900;
}
[class^=error-icon-] {
  width: 114px;
  height: 91px;
  display: inline-block;
}

.error-icon-404 {
  background: url("../../images/front/error_404.png");
}

.error-icon-warning {
  background: url("../../images/front/error_warning.png");
}

.lay-logo {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.lay-logo a {
  display: block;
  width: 306px;
  height: 17px;
  background: url("../../images/front/logo.png");
  overflow: hidden;
  line-height: 100px;
}

.error-body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-body .error-container {
  flex: 0 0 1280px;
}

.error-body .error-cont {
  text-align: center;
  padding: 100px 0;
  border-radius: 0 0 100px 0;
  border: 16px solid #edf1f4;
}

.error-body .error-cont > h2 {
  margin: 0;
  padding: 0px;
  color: #222222;
  font-size: 30px;
}

.error-body .error-cont .error-icons {
  text-align: center;
  margin-bottom: 30px;
}

.error-body .error-cont .error-infos {
  margin-top: 35px;
  line-height: 1.6em;
  font-size: 16px;
  color: #666666;
}

.error-body .error-cont .error-btns {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.error-body .error-cont .error-btns-home {
  padding: 0 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 60px;
  color: #fff;
  border-radius: 10px;
  transition: all 0.25s;
  background: linear-gradient(90deg, rgb(4, 119, 235), rgb(25, 198, 240), rgb(25, 198, 240), rgb(4, 119, 235));
  background-size: 400% 400%;
}

.error-body .error-cont .error-btns-home:hover {
  background-position: 100% 50%;
}
/*# sourceMappingURL=../maps/front/error.css.map */
