@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #383737;
  font-family: "Pretendard", sans-serif;
}

pre {
  font: 14px/1.3em "Pretendard", 맑은고딕, sans-serif;
  color: #383737;
  letter-spacing: -0.02em;
}

a {
  text-decoration: none;
  color: #171717;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  vertical-align: top;
}

img {
  border: 0;
}

input, select, button, textarea {
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
}

button {
  cursor: pointer;
}

table {
  position: relative;
}

table caption {
  position: absolute;
  height: 1px;
  overflow: hidden;
  left: 0;
  top: 0;
}

/*NotoSans*/
@font-face {
  font-family: "noto";
  font-style: normal;
  font-weight: 100;
  src: url(../../fonts/NotoSans-Thin.eot);
  src: url(../../fonts/NotoSans-Thin.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSans-Thin.woff2) format("woff2"), url(../../fonts/NotoSans-Thin.woff) format("woff"), url(../../fonts/NotoSans-Thin.otf) format("opentype");
}
@font-face {
  font-family: "noto";
  font-style: normal;
  font-weight: 200;
  src: url(../../fonts/NotoSans-Light.eot);
  src: url(../../fonts/NotoSans-Light.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSans-Light.woff2) format("woff2"), url(../../fonts/NotoSans-Light.woff) format("woff"), url(../../fonts/NotoSans-Light.otf) format("opentype");
}
@font-face {
  font-family: "noto";
  font-style: normal;
  font-weight: 300;
  src: url(../../fonts/NotoSans-DemiLight.eot);
  src: url(../../fonts/NotoSans-DemiLight.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSans-DemiLight.woff2) format("woff2"), url(../../fonts/NotoSans-DemiLight.woff) format("woff"), url(../../fonts/NotoSans-DemiLight.otf) format("opentype");
}
@font-face {
  font-family: "noto";
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/NotoSans-Regular.eot);
  src: url(../../fonts/NotoSans-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSans-Regular.woff2) format("woff2"), url(../../fonts/NotoSans-Regular.woff) format("woff"), url(../../fonts/NotoSans-Regular.otf) format("opentype");
}
@font-face {
  font-family: "noto";
  font-style: normal;
  font-weight: 500;
  src: url(../../fonts/NotoSans-Medium.eot);
  src: url(../../fonts/NotoSans-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSans-Medium.woff2) format("woff2"), url(../../fonts/NotoSans-Medium.woff) format("woff"), url(../../fonts/NotoSans-Medium.otf) format("opentype");
}
@font-face {
  font-family: "noto";
  font-style: normal;
  font-weight: 600;
  src: url(../../fonts/NotoSans-Bold.eot);
  src: url(../../fonts/NotoSans-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSans-Bold.woff2) format("woff2"), url(../../fonts/NotoSans-Bold.woff) format("woff"), url(../../fonts/NotoSans-Bold.otf) format("opentype");
}
@font-face {
  font-family: "noto";
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/NotoSans-Black.eot);
  src: url(../../fonts/NotoSans-Black.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSans-Black.woff2) format("woff2"), url(../../fonts/NotoSans-Black.woff) format("woff"), url(../../fonts/NotoSans-Black.otf) format("opentype");
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-Light.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: Pretendard;
  src: url("../../fonts/Pretendard-Black.woff") format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../../fonts/GmarketSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../../fonts/GmarketSansMedium.woff") format("woff");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../../fonts/GmarketSansBold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}
.cs-checkbox {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.cs-checkbox + label {
  user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  transition: color 0.25s;
  display: inline-flex;
  align-items: center;
}

.cs-checkbox + label span {
  font-size: 0;
  display: inline-block;
  border: 1px solid #d7dce5;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 3px;
  flex: 0 0 18px;
  margin-right: 6px;
  background: #ffffff;
  position: relative;
  vertical-align: middle;
  transition: border 0.25s, background 0.25s;
}

.cs-checkbox + label span::after {
  content: "";
  width: 8px;
  height: 4px;
  border: 2px solid #d7dce5;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
  left: 3px;
  top: 4px;
  position: absolute;
  transition: all 0.25s;
}

.cs-checkbox:checked + label span::after {
  border-color: #2b8cdb;
}

.cs-checkbox:disabled + label {
  cursor: not-allowed;
  color: #aaaaaa;
}

.cs-checkbox:disabled + label span {
  background: #f8f8f8;
}

.cs-checkbox + label + input + label {
  margin-left: 20px;
}

.cs-checkbox + label + select {
  margin-left: 20px;
}

.cs-checkbox + label + select + input + label {
  margin-left: 20px;
}

.cs-checkbox.cs-checkbox--single + label span {
  margin-right: 0;
}

.cs-checkbox.cs-checkbox--noline + label span {
  border: 0;
}

.cs-checkbox.cs-checkbox--noline:checked + label span {
  background: none;
}

.cs-checkbox.cs-checkbox--noline:checked + label span::after {
  border-color: #2b8cdb;
}

.icon-lx {
  width: 40px;
  height: 18px;
  background: url("../../images/front/icon-logo.png");
  display: inline-block;
  overflow: hidden;
  line-height: 60px;
}

.login-input {
  border: 1px solid #d7dce5;
  border-radius: 8px;
  transition: border 0.25s;
  font-size: 16px;
  height: 48px;
  padding: 0 15px;
}

.login-input:focus {
  border-color: #4876ef;
}

.login-input::placeholder {
  color: #8491a7;
}

.welcom-logo {
  width: 327px;
  height: 116px;
  background: url("../../images/front/logo_big_v2.png");
  overflow: hidden;
  line-height: 400px;
  display: block;
}

.login-body {
  display: flex;
  height: 100%;
}

.login-body > * {
  flex: 1;
}

.login-body .login-welcom {
  padding: 30px;
}

.login-body .login-container {
  padding: 30px;
}

.login-welcom {
  background: url("../../images/front/login_bg_v2.jpg") right bottom/cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login-welcom .login-welcom-wrap {
  padding-bottom: 200px;
  flex: 0 0 700px;
  width: 700px;
  margin-right: auto;
  margin-right: 0;
}

.login-welcom .login-welcom-wrap .welcom-text {
  margin-top: 80px;
  font-family: "GmarketSans";
  font-size: 26px;
  color: #fff;
}

.login-welcom .login-welcom-wrap .welcom-copy {
  margin-top: 30px;
}

.login-welcom .login-welcom-wrap .welcom-copy i {
  margin-left: 3px;
  vertical-align: text-bottom;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f8f9;
}

.login-cont {
  width: 430px;
  flex: 0 0 430px;
}

.login-cont_header {
  margin-bottom: 60px;
  text-align: center;
}

.login-cont_header h1 {
  margin: 0;
  padding: 0;
}

.login-cont_header h1 img {
  display: block;
  margin: 0 auto;
}

.login-cont_header > div {
  font-size: 18px;
  color: #646a7b;
  margin-top: 15px;
  font-family: "GmarketSans";
}

.login-cont_inputs > * {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.login-cont_inputs label {
  font-size: 14px;
  color: #000000;
  margin-bottom: 6px;
  padding-left: 4px;
}

.login-cont_inputs input + label {
  margin-top: 20px;
}

.login-cont_extra {
  display: flex;
  margin-top: 25px;
}

.login-cont_extra .login-cont_passfinder {
  margin-left: auto;
  margin-right: 0;
}

.login-cont_extra .login-cont_passfinder a {
  color: #4876ef;
  padding: 4px 0;
  border-bottom: 1px solid #4876ef;
}

.login-cont_btns {
  margin-top: 50px;
  display: flex;
}

.login-cont_btns > * {
  flex: 1;
  text-align: center;
}

.login-cont_btns > * + * {
  margin-left: 18px;
}

.login-cont_btns a, .login-cont_btns button {
  border-radius: 8px;
  height: 48px;
  box-sizing: border-box;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #006ef6;
  font-weight: bold;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

.login-cont_btns a::after, .login-cont_btns button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border: 1px solid #006ef6;
}

.login-cont_btns a i, .login-cont_btns button i {
  margin-right: 5px;
}

.login-cont_btns button {
  cursor: pointer;
  color: #fff;
  border: 0;
  background-color: #006ef6;
}

.login-cont_btns button::after {
  content: none;
}

@media (max-width: 1270px) {
  .login-body > * {
    flex: none;
  }
  .login-welcom .login-welcom-wrap .welcom-text {
    font-size: 16px;
  }
  .login-welcom .login-welcom-wrap {
    width: 350px;
    flex: 0 0 350px;
  }
  .login-body .login-container {
    padding: 30px;
    width: calc(100% - 550px);
  }
}
@media (max-width: 990px) {
  .login-body {
    display: flex;
  }
  .login-welcom {
    display: none;
  }
  .login-body .login-container {
    width: 100%;
  }
}
/*# sourceMappingURL=../maps/front/login.css.map */
