$fontsrc : '../../fonts';

@font-face {
	font-family: 'GmarketSans';
	src: url('#{$fontsrc}/GmarketSansLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'GmarketSans';
	src: url('#{$fontsrc}/GmarketSansMedium.woff') format('woff');
	font-weight: 500;
	font-style: medium;
}
@font-face {
	font-family: 'GmarketSans';
	src: url('#{$fontsrc}/GmarketSansBold.woff') format('woff');
	font-weight: 700;
	font-style: bold;
}