$fontsrc : '../../fonts';

@font-face {
  font-family: Pretendard;
  src: url("#{$fontsrc}/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: Pretendard;
  src: url("#{$fontsrc}/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: Pretendard;
  src: url("#{$fontsrc}/Pretendard-Light.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: Pretendard;
  src: url("#{$fontsrc}/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("#{$fontsrc}/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: Pretendard;
  src: url("#{$fontsrc}/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: Pretendard;
  src: url("#{$fontsrc}/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: Pretendard;
  src: url("#{$fontsrc}/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: Pretendard;
  src: url("#{$fontsrc}/Pretendard-Black.woff") format("woff");
  font-weight: 900;
}