// 초기설정
@use './include/var';
@use '../include/base';
@use '../font/noto';
@use '../font/pretendard';
@use '../font/gmarketsans';

.cs-checkbox{
  position:absolute;
  width:0;height:0;overflow: hidden;margin: 0;padding: 0;
  
  & + label{
    user-select: none;-ms-user-select:none;cursor: pointer;
    transition: color .25s;
    display: inline-flex;
    align-items: center;

    span{
      font-size: 0;
      display: inline-block;border:1px solid #d7dce5;width: 20px;height: 20px;box-sizing: border-box;
      border-radius: 3px;
      flex: 0 0 18px;
      margin-right: 6px;background: #ffffff;position: relative;vertical-align: middle;
      transition:border .25s, background .25s;

      &::after{
        content: '';
        width: 8px;height: 4px;border:2px solid #d7dce5;
        border-top: 0;border-right: 0;
        transform: rotate(-45deg);
        left: 3px;top: 4px;
        position: absolute;
        transition:all .25s;
      }
    }
  }

  &:checked + label{
    // color: #2b8cdb;
    span{
      &::after{border-color:#2b8cdb;}
    }
  }

  //focus
  &:focus  + label span{
  }

  &:disabled + label{
    cursor: not-allowed;
    color: #aaaaaa;
    span{background: #f8f8f8;}
  }

  //간격
  & + label + input + label{margin-left: 20px;}
  & + label + select {margin-left: 20px;}
  & + label + select + input + label{margin-left: 20px;}

  &.cs-checkbox--single{
    + label span{margin-right: 0;}
  }

  &.cs-checkbox--noline{
    + label{
      span{border:0;}
    }

    &:checked + label span{
      background: none;
      &::after{border-color: #2b8cdb}
    }
  }
}

.icon-lx{
  width: 40px;height: 18px;background:url('#{var.$image}/front/icon-logo.png');display: inline-block;
  overflow: hidden;line-height: 60px;
}

.login-input{
  border: 1px solid #d7dce5;
  border-radius: 8px;
  transition: border .25s;
  font-size: 16px;
  height: 48px;padding:0 15px;
  &:focus{border-color: #4876ef;}
  &::placeholder{color: #8491a7;}
}

.welcom-logo{
  width: 327px;height: 116px;background: url('#{var.$image}/front/logo_big_v2.png');
  overflow: hidden;line-height:400px;
  display: block;
}

.login-body{
  display: flex;
  height: 100%;
  
  > *{flex: 1;}
  .login-welcom{
    padding: 30px;
  }
  .login-container{
    padding: 30px;
  }
}

.login-welcom{
  background: url('#{var.$image}/front/login_bg_v2.jpg') right bottom / cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .login-welcom-wrap{
    padding-bottom: 200px;
    flex: 0 0 700px;
    width: 700px;
    margin-right: auto;margin-right: 0;
    .welcom-text{
      margin-top: 80px;
      font-family: var.$font-gmarket;
      font-size: 26px;
      color: #fff;
    }

    .welcom-copy{
      margin-top: 30px;
      i{margin-left: 3px;vertical-align: text-bottom;}
    }
  }
}

.login-container{
  //background: url('#{var.$image}/front/login_bg2.jpg') center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f8f9;
  &.v3{
    background: url('#{var.$image}/front/login_bg_v3.jpg') center / cover;
    .login-logo{
      background-image: url("../../images/main/logo.png");
      height: 27px;
      width: 314px;
      overflow: hidden;
      line-height: 100px;
      text-align: center;
      margin: auto;
      margin-bottom: 20px;
    }
    .login-txt{
      font-size: 16px;
      color:#adbedb;
      text-align: center;
      margin-bottom: 60px;
      font-family: "GmarketSans";
    }
    .login-input{
      background: rgba(0,0,0,0.4);
      border: 1px solid #fff;
      color:#fff;
    }
    .login-cont_inputs{
      label{
        color:#fff;
      }
    } 
    .cs-checkbox{
      & + label{
        color:#fff
      }
    }
    .login-cont_extra{
      .login-cont_passfinder{
        a{
          color:#fff;
          border-bottom: 1px solid #fff;
        }
      }
    }
    .login-cont_btns a{
      cursor: pointer;
      color: #fff;
      border: 0;
      background-color: #006ef6;
    }
    .login-cont_btns button{
      color: #fff;
      border: 0;
      background-position: 0 50%;
      transition: all 1s;
      background: linear-gradient(90deg, rgb(4, 119, 235), rgb(25, 198, 240), rgb(25, 198, 240), rgb(4, 119, 235));
      background-size: 400% 400%;
    }
  }
  &.v4{
    background: url('#{var.$image}/front/login_bg_v4.png') center / cover;
    .login-cont{
      width: auto;
      .login-cont-ment{
        font-size: 22px;
        color:#ffffff;
        line-height: 1.5;
      }
    }
    .video-login-form-inner{
      display: flex;
      border-radius: 24px;
      height: 480px;
      .video-sec{
        border-radius: 24px 0 0 24px;
        width: 855px;
      }
      .login-sec{
        border-radius: 0 24px 24px 0;
        width: 540px;
        background: #f6f8f9;
        padding: 0 80px;
        box-sizing: border-box;
        h3{
          margin-top: 44px;
          text-align: center;
          font-size: 36px;
          margin-bottom: 20px;
          line-height: 1;
        }
        .login-info{
          font-size: 16px;
          color:#666666;
          margin-bottom: 35px;
          text-align: center;
        }
      }
    }
  }
}

.login-cont{width: 430px;flex: 0 0 430px;}

// 로그인 form
.login-cont_header{
  margin-bottom: 60px;
  text-align: center;
  h1{
    margin: 0;padding: 0;
    img{display: block;margin:0 auto;}
  }
  > div{
    font-size: 18px;color: #646a7b;
    margin-top: 15px;
    font-family: var.$font-gmarket;
  }
}

.login-cont_inputs{
  > *{display: block;width: 100%;box-sizing: border-box;}
  label{font-size: 14px;color: #000000;margin-bottom: 6px;padding-left: 4px;}
  input + label{margin-top: 20px;}
}

.login-cont_extra{
  display: flex;
  margin-top: 25px;
  .login-cont_remember{}
  .login-cont_passfinder{
    margin-left: auto;margin-right: 0;
    a{
      color: #4876ef;
      padding: 4px 0;border-bottom: 1px solid #4876ef;
    }
  }
}



.login-cont_btns{
  margin-top: 50px;
  display: flex;
  > *{flex: 1;text-align: center;}
  > * + *{margin-left: 18px;}

  a, button{
    border-radius: 8px;
    height: 48px;box-sizing: border-box;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #006ef6;
    font-weight: bold;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    
    &::after{
      content: '';
      position: absolute;
      left: 0;top: 0;right: 0;bottom: 0;
      border-radius: 8px;
      border: 1px solid #006ef6;
      // background: linear-gradient(90deg, rgba(4,119,235,1) 0%, rgba(25,198,240,1) 100%) border-box;
      // -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      // -webkit-mask-composite: destination-out;
      // mask-composite: exclude;
    }
    i{margin-right: 5px;}
  }

  button{
    &::after{content: none;}
    cursor: pointer;
    color: #fff;
    border: 0;
    //background: linear-gradient(90deg, rgba(4,119,235,1) 0%, rgba(25,198,240,1) 100%);
    background-color: #006ef6;
  }

}

@media (max-width: 1270px) {
  .login-body > *{
    flex: none;
  }
  .login-welcom .login-welcom-wrap .welcom-text{
    font-size: 16px;
  }
  .login-welcom .login-welcom-wrap{
      width: 350px;
      flex:0 0 350px;
  }
  .login-body .login-container {
      padding: 30px;
      width: calc(100% - 550px);
      &.v3{
        width: 100%;
        padding: 0;
      }
  }
}
@media (max-width: 990px) {
  .login-body{display: flex;}
.login-welcom{display: none;}
.login-body .login-container{width: 100%;}
}