@use 'global' as var;

.cs-list{
  @include var.listReset();

  li{
    position: relative;
    padding-left: 20px;
    &::before{
      content: '';width: 9px;height: 9px;border:2px solid #666666;position: absolute;left: 0;top: 4px;border-radius: 50%;
      box-sizing: border-box;
      line-height: 1.25em;
    }
  }
  li + li{margin-top: 9px;}
}