.popup-wrap{
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.15);
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    display: none;
    
    .popup-header{
      background-color: #373f57;
      display: flex;
      align-items: center;
      position: relative;
      height: 60px;
      padding-left: 40px;
      padding-right: 35px;
      .popup-header-text{
        color: #fff;
        font-size: 24px;
      }
    }
  
    .popup-header-cancle{
      position: relative;
      border: 0;
      background-color:transparent;
      margin-left: auto;margin-right: 0;
      width: 30px;height: 30px;
      overflow: hidden;line-height: 100px;
      &::after, &::before{
        content: '';border-top:2px solid #fff;width: 30px;
        position: absolute;
        top:50%;
        left: calc(50% - 15px);
      }
      &::after{transform: rotate(-45deg);}
      &::before{transform: rotate(45deg);}
    }
  
    .popup-content{
      background: #fff;
      padding:40px;
      .popup-content-wrap{
        height: 100%;
        max-height:700px;
        display: flex;
        flex-direction: column;
  
        .pop-inner-con{
          flex:1;
          overflow-y: auto;
        }
  
      }
    }
  
    .popup-footer{
      display: flex;
      justify-content: center;
      align-items: center;
      gap:0 8px;
      margin-top: 40px;
      background-color: #fff;
    }
  }
  
  .modal-type-alert{
    border: 1px solid #082436;
    .popup-header{
      position: relative;
      height: 54px;
      padding-left: 30px;padding-right: 30px;
      &::after{
        content: '';
        position: absolute;
        border-bottom:1px solid #bebebe;
        margin: auto;
        bottom: 0;
        left: 35px;right: 35px;
      }
      background: #fff;;
      .popup-header-text{color: #000000;}
    }
    .popup-content{padding: 30px;}
    .popup-footer{margin-top: 28px;}
    .popup-header-cancle{
      &::after, &::before{
        content: '';border-top:2px solid #000000;
      }
    }
  }
  
  .modal-alert-templete{
    text-align: center;
    > i + div{margin-top: 20px;}
  }
  
  
  @media (max-width : 768px) {
      .table{
          padding:30px;
          tbody{display: block;}
          tr{
              display: flex;
              flex-wrap: wrap;
              width: 100%;
              
              th{font-weight: bold;width:100px;text-align: left;}
              th, td{display: block;box-sizing: border-box;}
              td{width: calc(100% - 100px);}
          }
          .lv1{
              color: #fff;
              background-color: blue;
              width: 100%;
              font-size: 18px;
          }
          .lv2{
              margin-top: 20px;
              color: #fff;
              background-color: green;
              width: 100%;
              font-size: 14px;
          }
      }
      .mo-hidden{display: none !important;}
  }

  .pop-map-sec{
    border: 1px solid #e1e1e1;
  }


  // toast
.mini-alert-wrap{
  position: fixed;
  height: 0;
  z-index:99999;bottom: 0;
  width: 100%;left: 0;
  text-align: center;
}

.mini-alert{
  height:30px;line-height: 30px;padding:0 10px;border-radius:15px;
  top:0px;
  transition: top .25s;
  position: absolute;
  left:50%;
  display: inline-block;
}

.mini-alert.success{
  background: #4283db;
  color: #fff;
}

.mini-alert.fail{
  background:#ff690f;
  color: #fff;
}

.system-wrap{
  border: 1px solid #082436;
}
.system-popup-container{
  padding: 15px 30px;
  background: #fff;
  .system-popup-header{
    border-bottom: 1px solid #bebebe;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 1;
  }
  .system-popup-content{
    
    text-align: center;
  }
  .system-pop-inner-con{
    padding: 40px 0;
    color:#424242;
  }
  .system-popup-footer{
    text-align: center;
  }
  .sysyem-cancle-btn{
    height: 44px;
    background: #435c7f;
    color:#fff;
    font-size: 16px;
    border-radius: 5px;
  }
}