@use '../../include/common';
@use './var'; //기본설정



// drop select
.cm-drop-select{
  @include var.listReset('ul');
  position: relative;
  > button, > a{
    display: block;height: 55px;width: 100%;border: 0;
    text-align: left;
    position: relative;
    background: transparent;
    box-sizing: border-box;
    font-size: 16px;color: #fff;
    padding:0 60px 0 26px;
    white-space: nowrap;
    z-index:2;
    &::before{
      content: '';position: absolute;border: 2px solid transparent;left: 0;top: 0;width: 100%;height: 100%;box-sizing: border-box;
      transition: border .25s;
    }
    &::after{
      content: '';width: 18px;height: 18px;
      background: url('#{var.$image}/front/location_arr.png');
      position: absolute;
      right: 24px;top: calc(50% - 9px);
      transition: all .25s;
    }
  }

  > div{
    z-index:1;
    position: relative;
    position: absolute;
    overflow: hidden;
    width: 100%;
    top:100%;
    height: 0px;
    box-sizing: border-box;

    ul{
      box-sizing: border-box;
      background: #314768;display: none;
      position: absolute;
      bottom:0;
      left: 0;
      width:100%;
      a{
        color: #adb3bd;height:55px;line-height: 55px;display: block;padding: 0 26px;font-size: 16px;
        font-weight: normal;
        transition: color .25s;
        &:hover{color: #ffffff;font-weight: bold;}
      }
      li + li{
        position: relative;
        &::after{
          content: '';position: absolute;top:0;
          left: 26px;right: 26px;margin: auto;
          border-top:1px solid #435c7f;
        }
      }
      // li + li{}
    }

    // 확인용
    // height:auto;
    // ul{
    //   display: block;
    //   position: relative;
    //   top:0;bottom:auto;
    // }
    // end 확인용
  }

  &.active{
    > button, > a{
      &::before{
        border-color: #314768;
      }
      &::after{
        transform: rotate(-180deg);
      }
    }
  }
  &.active-motion > div{transition: all .25s;}

  &[data-dmdrop-drop="top"] {
    > div{
      top: auto; bottom:100%;
      margin-bottom: -10px;
      ul{
        bottom:auto;top:0;background: #fff;
        border: 1px solid #5b699a;
        padding-bottom: 10px;
        a{
          height: 45px;line-height: 45px;font-size: 15px;
          color: #808080;
          &:hover{color: #616161;}
        }
        li + li::after{
          border-color:#d9dee5;
        }
      }
    }

    > button, > a{
      &::before{content: none;}
      &::after{
        transform: rotate(-180deg);
      }
    }

    &.active{
      > button, > a{
        &::after{
          transform: rotate(180deg);
        }
      }

      > div{
        // border: 1px solid #5b699a;
        // background: #fff;
      }
    }
  }
}

.cm-drop-select-style2{
  > button, > a{
    background: #5b699a;border-radius: 8px;height:40px;font-size: 15px;
    padding-left: 24px;
    &::after{right:20px;}
  }
}

.cont-title-dot{
  position: relative;
  margin: 0;
  padding: 0 0 0 24px;
  font-size: 18px;color: #000000;
  margin-bottom: 17px;
  &::before{content:'';width: 10px;height: 10px;border-radius: 50%;background: #18b0ef;position: absolute;left: 0;top:5px}
}

.cons-btns{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  > * + *{margin-left: 8px;}
}