@use 'var';
@use "sass:math";
.step-nav{
  @include var.listReset('ul');
  margin: 0 40px;
  background: #edf1f4;
  height: 74px;
  border-radius: calc(74px / 2);
  ul{display: flex;height: 100%;}
  li{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: calc(74px / 2);
    + li{
      margin-left: 100px;
      position: relative;
      &::after{
        content: '';
        width: 8px;height: 16px;
        position: absolute;
        background:url('#{var.$image}/front/member_join_arr.png');
        left:-54px;
      }
    }

    > span{
      display: none;background: #2149a6;width: 80px;height: 28px;color: #fff;
      font-size: 16px;
      text-align: center;
      line-height: 28px;
      border-radius: 40px;
      margin-right: 17px;
    }

    > strong{font-size: 22px;color: #091634;font-weight: normal;}

    &.active{
      background: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,.1);
      border: 1px solid #2149a6;
      > span{display: block;}
      > strong{color: #2149a6;font-weight: 800;}
    }
  }
}

.mj-cont{margin-top: 45px;}

.cont-agg{
  border: 1px solid #e1e1e1;
  border-radius: 4px;overflow: hidden;

  + .cont-agg{margin-top: 24px; }
  .cont-agg_header{
    height: 68px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    .cont-agg_title{
      font-size: 18px;color: #091634;margin: 0;padding: 0;
      font-weight: 500;
    }
    .cont-agg-check{
      margin-left: auto;margin-right: 0;
      font-size: 18px;color: #666666;
      .fc-red{font-style: normal;}
    }
    transition: all .25s;
  }

  .cont-agg-togglebtn{
    background: #e1e1e1;
    border:0;
    height: 34px;width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #666666;

    &::after{
      margin-left: 15px;
      content: '';width: 18px;height: 18px;
      background:url('#{var.$image}/front/select_arr.png');
      transition: all .25s;
    }
  }

  .cont-agg-cont{
    height:0;
    transition: all .25s;
    > div{
      padding: 20px;
      height: 250px;
      box-sizing: border-box;
      overflow-y: scroll;
    }
  }

  &.active{
    .cont-agg_header{background: #fafafa;}
    .cont-agg-cont{
      display: block;
      height: 250px;
    }
    .cont-agg-togglebtn::after{transform: rotate(-180deg);}
  }

  &.cont-agg-point{border: 2px solid #0377eb;}
}


.cont-memberreg{
  .cont-memberreg_header{
    display: flex;
    margin: 0;padding: 0;
    align-items: center;
    margin-bottom: 10px;
    > strong{font-size: 22px;color: #091634;font-weight: 500;}
    > div{color: #666666;font-size: 16px;font-weight: normal;margin-left: 18px;}
  }

  + .cont-memberreg{margin-top: 35px;}
}


.cont-regcomplete{
  width: 700px;
  margin: 0 auto;
  .cont-regcomplete_header{
    margin-bottom: 15px;
    i{
      width: 66px;height: 66px;background:url('#{var.$image}/front/reg_complete.png');margin:0 auto;
      display: block;
      &.id-find-ico{
        width: 60px;
        height: 60px;
        background:url('#{var.$image}/front/reg_id_find.png');
      }
      &.id-find-ico02{
        width: 60px;
        height: 60px;
        background:url('#{var.$image}/front/reg_id_find02.png');
      }
      &.pw-change-ico01{
        width: 60px;
        height: 60px;
        background:url('#{var.$image}/front/reg_pw_find01.png');
      }
    }

    > div{
      margin-top: 22px;
      line-height: 1.27em;
      font-size: 22px;
      color: #091634;
      text-align: center;
      strong{font-weight: 800;}
      span{
        font-size: 16px;
        line-height: 1.3;
      }
    }
  }
}

.join-link-btn{
  position: relative;
  display: inline-block;
  width: 376px;
  height: 56px;
  padding-left: 135px;
  color: #fff;
  box-sizing:border-box;
  font-size: 20px;
  line-height: 57px;
  border-radius:6px;
  background: rgb(4,119,236);
  background: linear-gradient(90deg, rgba(4,119,236,1) 0%, rgba(24,198,240,1) 100%);
  &:after{
    position: absolute;
    left: 97px;
    top: 17px;
    display: block;
    width: 21px;
    height: 20px;
    content:'';
    background:url('#{var.$image}/front/id_find_btn.png');
  }
}

.mj-btns-margin{
  .cs-btn2{
    &+.cs-btn2{
      margin-left: 16px;
    }
  }
}

.find-id01{
  .cons-btns{
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin: 25px auto 0;
    p{
      font-size: 14px;
      color:#999999;
      a{
        margin-left: 10px;
        color:#999999;
        padding-bottom: 5px;
        border-bottom: 1px solid #999999;
      }
    }
  }
}

.find-pw01{
  .cons-btns{
    margin-top: 25px;
  }
}

/*
  그리드 시스템
*/
$cols: 12;

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  .col {
    min-height: 1px;
    box-sizing: border-box;
    border: 1px solid #e0e4e7;
    background-color: #fff;
    border-radius: 20px;
    padding: 32px 35px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  }

  @for $i from 1 to 12 {
    $d: ($i - 1);

    .col-#{$i} {
      width: calc((math.div($i, 12) * 100%) - ($i*12px)/$d);
    }
  }

  .col-12 {
    width: 100%;
  }

  .padding-0 {
    padding: 0;
  }

  .border-dashed {
    border-style: dashed;
  }

  @media (max-width:1780px) {
    @for $i from 1 to 13 {
      $d: ($i - 1);

      .col-lg-#{$i} {
        width: calc((math.div($i, 12) * 100%) - ($i*12px)/$d);
      }
    }

    .col-lg-12 {
      width: 100%;
    }
  }
}

.col.disk-view{
  background-color: #edf1f4;
  .col-header h3{
      margin-top: 0;
      margin-bottom: 0;
  }
  .track-wrap{
      padding: 0;
  }
}
.disk-per{
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
  line-height: 1;
  transform: translateY(-12px);
  padding-bottom: 10px;
  b{
      color: #2149a6;
      font-size: 36px;
  }
  span{
      color: #202432;
      font-size: 18px;
      display: block;
      transform: translateY(-5px);
  }
}
.disk-inc-button{
  button{
      display: block;
      width: 100%;
      height: 45px;
      font-size: 16px;
  }
}
.disk-volume{
  text-align: right;
  color: #666;
  font-size: 14px;
  padding: 12px 0 18px;
  b{
      color: #2149a6;
  }
}
.disk-modal-view{
  background-color: #edf1f4;
  border: 1px solid #e0e4e7;
  border-radius: 10px;
  padding: 20px;
  .track-wrap{
      padding: 0;
      border-radius: 0;
      margin-top: 12px;
      margin-bottom: 7px;
  }
  .disk-volume{
      padding: 0;
  }
}
.now-use-disk{
  display: flex;
  justify-content: space-between;
  .tit{
      font-weight: 700;
      font-size: 18px;
  }
  .disk-per{
      transform: translateY(0);
  }
}

.disk-inc-form{
  padding-top: 25px;
  dl{
      display: flex;
      align-items: center;
      margin: 0;
      +dl{
          margin-top: 15px;
      }
      dt{
          font-weight: 400;
          width: 80px;
      }
      dd{
          width: calc(100% - 80px);
          margin: 0;
          .g{
              display: flex;
              align-items: center;
              gap: 0 8px;
              .cs-input{
                  width: calc(50% - 4px);
              }
          }
          textarea{
              width: 100%;
              height: 90px;
              
          }
      }
  }
}

.mypage-btn-group{
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0 10px;
  button{
    background: none;
    display: inline-block;
    border: 0;
    padding: 0 23px;
    height: 44px;
    border: 1px solid #8d9096;
    border-radius: 3px;
    color: #8d9096;
    font-size: 16px;
    transition: all 0.25s;
    &.btn-3{
      border-color: #033272;
      background-color: #033272;
      color: #fff;
    }
  }
}
.col-gra-border{
  height: 420px;
  overflow-y: auto;
}

.btn-gradient {
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #027aeb), color-stop(0.99, #18c5f0));
  background: -moz-linear-gradient(left, #027aeb 0%, #18c5f0 99%);
  background: -webkit-linear-gradient(left, #027aeb 0%, #18c5f0 99%);
  background: -o-linear-gradient(left, #027aeb 0%, #18c5f0 99%);
  background: -ms-linear-gradient(left, #027aeb 0%, #18c5f0 99%);
  background: linear-gradient(left, #027aeb 0%, #18c5f0 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#027aeb', endColorstr='#18c5f0', gradientType=1);
}
