@use 'var';

div.toggle-hidden{
    display: none;
}
.service-guide{
    .service-guide-ti{
        font-size: 22px;
        font-weight: bold;
				&.first{
					margin-top: 0;
				}
    }
    .img-box{
        margin: 30px 0;
				img{
					max-width: 100%;
				}
    }
}

.service-nav{
    display: flex;
    list-style: none;
    margin:0 ;
    padding: 0;
    margin-bottom: 35px;
	border-bottom: 1px solid #000;
    li{
        height: 50px;
				flex: 1 1;
        button{
            width: 100%;
            height: 100%;
            background: none;
            border: none;
            border-radius:4px 4px 0 0;
            background: #f5f5f5;
            border: 1px solid #dddddd;
        }
        &.active{
            button{
				position: relative;
                background: #fff;
                border: 1px solid #000;
                border-bottom: 1px solid transparent;
				&:after{
					position: absolute;
					left: 0;
					bottom: -2px;
					display: block;
					width: 100%;
					height: 1px;
					content:'';
					background: #Fff;
				}
            }
        }
    }
	&.service-flex{
		li{
			flex:1;
		}
	}
}


.track-wrap {
	background-color:#edf1f4;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	border-radius:5px;
	padding:35px;
	box-sizing:border-box;
	margin-bottom:36px;
	.writer {
		font-size:16px;
		width:170px;
		position:relative;
		strong {
			color:#2149a6;
		}
		&.v2 {
			&::after {
				right:20px;
			}
		}
		&::after {
			content:"";
			display:block;
			position:absolute;
			right:37px;
			top:0;
			height:23px;
			width:1px;
			background-color:#bec1c3;
		}
	}
	.track-area {
		display:flex;
		align-items:center;
		width:calc(100% - 200px - 170px);
		&.v2 {
			width:calc(100% - 170px);
			.track {
				width:calc(100% - 20px);
			}
		}
		.track {
			background-color:#fff;
			border-radius:5px;
			height:8px;
			width:calc(100% - 140px);
			overflow:hidden;
			.bg {
				background-color:#2149a6;
				display:block;
				height:100%;
			}
		}
	}
	.track-per {
		font-weight:bold;
		font-size:18px;
		color:#2149a6;
	}
	.track-state {
		text-align:right;
		width:230px;
	}
	.track-extra {
		width:200px;
		text-align:right;
	}
}
.row {
	.workspace-item4 {
		padding:8px 25px 8px;
		border-radius:18px;
		margin-bottom:36px;
		h2 {
			display:flex;
			align-items:center;
			margin:0;
			color:#fff;
			padding-bottom:10px;
			font-size:20px;
			span {
				font-size:18px;
				font-weight:400;
			}
			i {
				display:inline-block;
				font-weight:400;
				margin:0 17px;
			}
		}
		.background-round-white {
			border-radius:18px;
			margin:0 -25px;
			padding:28px 25px;
			border:1px solid #e0e4e7;
			position:relative;
		}
		.subject {
			margin:0;
			width:calc(100% - 100px);
			a {
				max-width:100%;
				color:#000;
				font-size:24px;
				display:inline-flex;
				align-items:center;
				span {
					display:inline-block;
					padding-left:23px;
					box-sizing:border-box;
					white-space:nowrap;
					overflow:hidden;
					text-overflow:ellipsis;
					width:100%;
				}
			}
		}
		.extra {
			display:flex;
			align-items:center;
			padding:17px 0 23px;
		}
		.badge-group {
			.badge {
				color:#000;
			}
		}
		.link-more {
			border-radius:3px;
			background-color:#fff;
			display:inline-flex;
			align-items:center;
			padding:0 24px;
			height:28px;
			border:1px solid #8d9096;
			color:#666666;
			font-size:13px;
			.cs-icon-arw {
				margin-left:18px;
			}
		}
		.desc {
			display:flex;
			position:relative;
			gap:0 24px;
			span {
				color:#8d8d8d;
				strong {
					color:#000;
					font-weight:400;
				}
			}
			.btn {
				position:absolute;
				right:0;
				bottom:0;
				background:none;
				display:inline-block;
				border:0;
				padding:0 23px;
				height:44px;
				border:1px solid #8d9096;
				border-radius:3px;
				color:#8d9096;
				font-size:16px;
				transition:all 0.25s;
				background-color:#8d9096;
				color:#fff;
			}
		}
		.btn-group {
			position:absolute;
			right:23px;
			top:29px;
			.like-push {
				margin-right:15px;
			}
		}
	}
}
.background-round-white {
	background-color:#fff;
	border-radius:18px;
	margin:-28px -35px 0;
	padding:32px 35px;
}
.lay-tab {
	border-bottom:1px solid #000;
	margin-bottom:35px;
	position:relative;
	.board-extra {
		position:absolute;
		right:0;
		top:4px;
		.cs-input-point {
			margin-left:8px;
		}
	}
	ul {
		@include var.listReset;
		display:flex;
		li {
			+li {
				margin-left:-1px;
			}
		}
	}
	li {
		&.current {
			z-index:2;
			.trigger {
				position:relative;
				border-color:#000;
				background-color:#fff;
				color:#000;
				&:after {
					position:absolute;
					left:0;
					bottom:-1px;
					display:block;
					content:'';
					width:100%;
					height:1px;
					background:#fff;
				}
			}
		}
	}
	.trigger {
		display:block;
		width:315px;
		height:49px;
		border-radius:6px 6px 0 0;
		border:1px solid #ddd;
		border-bottom:0;
		color:#666666;
		background-color:#f5f5f5;
		font-size:16px;
	}
}
.like-push {
	display:inline-block;
	vertical-align:top;
	position:relative;
	width:32px;
	height:32px;
	input {
		width:1px;
		height:1px;
		z-index:-9999;
		overflow:hidden;
		opacity:0.1;
		position:absolute;
		&:checked {
			+i {
				background-image:url('#{var.$image}/platform/icon-start.png');
			}
		}
	}
	i {
		display:block;
		width:100%;
		height:100%;
		background-image:url('#{var.$image}/platform/icon-start-off.png');
		&.v2 {
			background-image:url('#{var.$image}/platform/icon-start-2.png');
		}
	}
}
.icon-plat,.btn-icon {
	border:0;
	width:32px;
	height:32px;
	background-repeat:no-repeat;
	background-position:50% 50%;
	border-radius:5px;
	font-size:0;
}
.icon-del3 {
	background-image:url('#{var.$image}/platform/icon-btn-del3.png');
	background-color:#edf1f4;
}
.cs-icon-ai {
	background:url('#{var.$image}/front/cs-icon-ai.png') 50% 50% no-repeat;
	width:32px;
	height:32px;
	background-size: contain;
}
.badge {
	display:inline-block;
	background-color:#edf1f4;
	border-radius:3px;
	color:#000;
	font-size:12px;
	padding:4px 8px;
	margin-right: 3px;
}
html{
	scroll-behavior: smooth
}
.service-guide{
	display: flex;
	gap: 60px;
	
	.service-snb{
		position: relative;		
		width: 250px;
		ul{
			position:sticky;
			height:100vh;
			overflow-y: scroll ;
			padding: 0;
			left: 0;
			top:0;
			margin-top: 0;
			li{
				list-style: none;
				&.service-guide-ti{
					padding-left: 20px;
					font-size: 14px;
					margin-bottom: 7px;
					padding-top: 28px;
					margin-top: 20px;
					border-top: 1px solid #e1e1e1;
					color:#091634;
					&.first{
						margin-top: 10px;
						padding-top: 0;
						border: none;
					}
				}
				a{
					display: block;
					transition:all 0.3s;
					padding: 8px 8px 8px 20px;
					font-size: 13px;
					color:#666666;
					background-position: 0px center;
					
				}
				a.active{
					color:#1b7aef;
					background-color: #f8f8f8;
					border-radius: 4px;
					padding: 8px 8px 8px 44px;
					background-image: url('#{var.$image}/front/service-snb-arrow.png');
					background-position: 24px center;
					background-repeat: no-repeat;
				}
			}
		}
	}
	.service-content{
		width: calc(100% - 250px);
		.service-sec{
			margin-bottom: 80px;
			&:first-child{
				
			}
		}
		.txt-blue{
			margin: 15px 0 25px;
			font-size: 18px;
			color:#2149a6;
		}
		.circle_list{
			padding-left: 0;
			margin-left: 28px;
			li{
				list-style: none;
				counter-increment: item;
				font-size: 16px;
				color:#616161;
				text-indent: -28px;
				margin-bottom: 15px;
				&::before {
					display: inline-block;
					content: counter(item);
					width: 20px;
					text-align: center;
					line-height: 20px;
					height: 20px;
					border-radius:50%;
					background: #2149a6;
					color:#fff;
					font-size: 13px;
					margin-right: 8px;
					text-indent: 0;
				}
			}
		}
	}
}