@use 'var';
@use "sass:math";

.main-sh-row01,
.main-sh-row02{
    table{
        thead{
            th{
                font-size: 15px;
                font-weight: normal;
            }
        }
        tbody{
            td{
                font-size: 14px;
                color:#000000;
            }
        }
    }
}
.main-sh-row01{
    margin-bottom: 35px;
    &>.col{
        max-height: 424px;
        overflow: hidden;
    }   
    .over-scroll{
        overflow: auto;
    }
    .over-scroll::-webkit-scrollbar {
        width: 8px;
        // padding-left: 12px;
    }
    .over-scroll::-webkit-scrollbar-thumb {
        background-color: #e0e0e0;
        border-radius: 6px;
        background-clip: padding-box;
        border: 2px solid transparent;
    }
    .over-scroll::-webkit-scrollbar-track {
        border-radius: 6px;
    }
    .main-sh-col01{
        background-image: url('#{var.$image}/platform/main_bg01.png');
        background-size: cover;
        h3{
            color:#fff;
            font-size: 22px;
            margin-top: 0;
            margin-bottom: 15px;
            line-height: 1;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0;
            margin: 0;  
            gap:16px;
            li{
                background: #fff;
                width:calc(50% - 8px);
                border-radius: 6px;
                height: 152px;
                list-style: none;
                padding: 24px;
                box-sizing: border-box;
                p{
                    position: relative;
                    color:#999999;
                    margin: 0;
                    padding: 7px 0;
                    margin-bottom: 24px;
                    &:after{
                        position: absolute;
                        right: 0;
                        top: 0;
                        display: block;
                        content:'';
                        background-color: #edf1f4;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 30px;
                        height: 30px;
                        border-radius: 4px;
                    }
                }
                div{
                    font-size: 14px;
                    strong{
                        font-size: 22px;
                    }
                }
                &.main-sh-col01-item01{
                    p{
                        &:after{
                            background-image: url('#{var.$image}/platform/main_ico01.png');
                        }
                    }
                }
                &.main-sh-col01-item02{
                    p{
                        &:after{
                            background-image: url('#{var.$image}/platform/main_ico02.png');
                        }
                    }
                }
                &.main-sh-col01-item03{
                    p{
                        &:after{
                            background-image: url('#{var.$image}/platform/main_ico03.png');
                        }
                    }
                }
                &.main-sh-col01-item04{
                    p{
                        &:after{
                            background-image: url('#{var.$image}/platform/main_ico04.png');
                        }
                    }
                }
            }
        }
    }
    .main-sh-col02{
        background-image: url('#{var.$image}/platform/main_bg02.png');
        background-size: cover;
        padding: 0;
        h3{
            font-size: 20px;
            margin: 32px 0 15px 36px;
            color:#fff;
        }
        .card-inner{
            background: #fff;
            height: 345px;
            padding: 8px;
            border-radius: 20px;
            box-sizing: border-box;
        }
        .over-scroll{
            height: 275px;
            padding: 28px;
            .board-list-text:first-child{
                margin-bottom: 16px;
            }
        }
    }
    .main-sh-col03{
        background-image: url('#{var.$image}/platform/main_bg03.png');
        background-size: cover;
        padding: 0;
        h3{
            font-size: 20px;
            margin: 32px 0 15px 36px;
            color:#fff;
        }
        .card-inner{
            background: #fff;
            height: 345px;
            padding: 8px;
            border-radius: 20px;
            box-sizing: border-box;
        }
        .over-scroll{
            height: 225px;
            padding: 28px;
            margin-bottom: 10px;
            p{
                margin: 0;
            }
            span{
                color:#888888;
            }
        }
    }
}

.main-sh-row02{
    .main-sh-col04{
        position: relative;
        background: #e1e1e1;
        padding: 0;
        background-image: url('#{var.$image}/platform/main_bg04_ico.jpg');
        background-position: 98% 16px;
        background-repeat: no-repeat;
        h3{
            padding-left: 37px;
            font-size: 22px;
            font-weight: bold;
        }
    }
    .tab-nav-wrap{
        position: absolute;
        top: 38px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }
    .tab-nav{
        
        display: flex;
        background: #fff;
        margin: 0;
        padding: 8px;
        border-radius: 6px;
        border: 1px solid #e0e4e7;
        
        li{
            list-style: none;
            &.active{
                button{
                    background: linear-gradient(to right, #0083ec, #10bbf0 50%);
                    color:#fff;
                }
            }
            button{
                border-radius:6px;
                background: none;
                border: none;   
                width: 148px;
                height: 44px;
                font-size: 16px;
            }
        }
        
    }
    .card-inner{
        background-color: #fff;
        padding: 48px 36px 36px 36px;
        border-radius: 20px;
        margin:0 1px 4px 1px;
       
        table{
            th,td{
                height: auto;
            }
            .state_span{
                display: inline-block;
                font-size: 14px;
                height: 24px;
                width: 82px;
                border-radius: 12px;
                line-height: 24px;
                &.state_comp{
                    background: #e5eaf1;
                    color:#033272;
                    
                }
                &.state_ing{
                    background: #e7f7fd;
                    color:#18b0ef;
                    
                }
                &.state_error{
                    background: #ffe5e5;
                    color:#ff3a3a;
                    
                }
            }
        }
    }
    .like-push{
        i{
            width: 24px;
            height: 24px;
            background-size: cover;
        }
    }
}