@forward '../../include/global';
$image : '../../images' !default; // 이미지 경로 css 기준

$root__color-point : #1c73bc; // 대표 컬러

$font-noto: 'noto';
$font-preten: 'Pretendard';
$font-gmarket: 'GmarketSans';

$root__point-bg: linear-gradient(90deg,rgba(4,119,235,1),rgba(25,198,240,1));

@mixin pointBg{
  background: linear-gradient(90deg,rgba(4,119,235,1),rgba(25,198,240,1),rgba(25,198,240,1),rgba(4,119,235,1));
  background-size: 400% 400%;
  &:hover{
    background-position: 100% 50%;
  }
}

// @mixin listReset ($ul:'&') {
// 	#{$ul}{margin: 0;padding: 0;}
//   #{$ul},li {
//     margin:0;
//     padding:0;
//     list-style:none;
//   }
// }